<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project.You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$TheLongRun-Leagues-Function</UserName>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thelongrun-leagues-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thelongrun-leagues-function.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TheLongRun-Leagues-Function</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <_SavePWD>True</_SavePWD>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <ResourceId>/subscriptions/9f18dd62-6f67-4ec9-b571-457f08a7b20d/resourceGroups/TheLongRun/providers/Microsoft.Web/sites/TheLongRun-Leagues-Function</ResourceId>
  </PropertyGroup>
</Project>